<main>
    <script src="https://cdn.tailwindcss.com"></script>
    <div class="bg-[url(/static/img/maitre-gims-gims.gif)] w-screen h-screen bg-no-repeat bg-cover md:bg-[length:100%_100%] bg-center">
        <div class="w-full h-full flex justify-between items-center px-4 md:px-[13%]">
            <div class="relative">
                <h1 class="text-8xl md:text-[20rem] font-bold text-black drop-shadow-xl">4</h1>
                <img src="/static/img/lunette-gims.png" class="absolute top-[35%] left-1/2 -translate-x-1/2 w-[80%]" alt="lunettes">
            </div>
            <div class="relative">
                <h1 class="text-8xl md:text-[20rem] font-bold text-black drop-shadow-xl">4</h1>
                <img src="/static/img/lunette-gims.png" class="absolute top-[35%] left-1/2 -translate-x-1/2 w-[80%]" alt="lunettes">
            </div>
        </div>
    </div>
</main>