<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.TabTitle}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        main: '#FFFFFF',
                        surface: '#121212',
                        muted: '#B3B3B3',
                        accent: '#1DB954'
                    }
                }
            }
        }
    </script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {{.Header}}
    {{.Body}}
    {{.Footer}}
</body>
</html>